
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #012456;
$darkGray: #fff;
$gray: #fff;
$lightGray: #DCDCDC;
$white: #000;

// Font stacks
$helvetica: Verdana, Helvetica, Arial, sans-serif;
$helveticaNeue: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}